{{!< default}}
		{{#with data.profile.cover}}
		<div class="project__summary layout vertical stretch pack-end start" style="background-image: url({{cloudinaryUrl width='400' height='737' crop='fill' }})">
		{{/with}}
				<div class="avatar avatar_big">
					{{#with data.profile.avatar}}
					<img src="{{cloudinaryUrl width='140' height='140' crop='fill' }}" alt=""/>
					{{/with}}
				</div>
				<div class="layout horizontal center">
						<div class="flex">
								<h2 class="project__summary_title">
									{{data.profile.name.first}} {{data.profile.name.last}}
								</h2>
								<div class="project__summary_description">
										{{{data.profile.about.short}}}
								</div>
						</div>
						<button class="project__favorite">
								<span class="icon-heart"></span>
						</button>
				</div>
		</div>

        <div class="layout vertical chat-panel" data-chat-tag="{{ data.profile.slug }}">
            <div class="scroll">
                <div class="chat-panel__list layout vertical">
                </div>
            </div>
        </div>
